*{
    
    padding: 0; /* Eliminar espacios */
    margin: 0; /* Eliminar espacios */
    text-decoration: none; /* eliminar subrayados */
    list-style: none; /* Eliminar puntos de las listas */
    box-sizing: border-box; /* No se salgan los elementos del contenedor */
}

nav{
    background: #b17010;
    height: 90px;
    width: 100%;
}

.enlace{ /* clase del logo*/
    position: absolute;
    padding: 20px 50px;
}
.logo{
    width: 130px;
    height: 50px;
}

nav ul{
    float: right;
    margin-right: 20px; /* Para que no esten pegados el logo y el icono*/
}

nav ul li{
    display: inline-block; /*Para que se pongan en linea*/
    line-height: 90px;
    margin: 0 5px;
}

nav ul li a{
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
}
li a.active, li a:hover{
    background: #01f7ff;
    transition: .5s;
}

.checkbt{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 90px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none; /*Ocultar el checkbox*/
}

section{
    background: url(comercioelectronico.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 90px);
}
.tit{
    color: rgb(0, 0, 0);
    font-size: 90px;
    text-align: center;
    font-family:Arial, sans-serif;
    width: 100px;
    margin-top: 20px;
    margin-left: 13px;
    
}
.nom{
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-align: center;
    font-family:Arial, sans-serif;
    width: 500px;
    margin-top: 200px;
    margin-left: 550px;
}
.intro{
    color: rgb(0, 0, 0);
    font-size: 15px;
    text-align: center;
    font-family:Arial, sans-serif;
    width: 900px;
    margin-top: 20px;
    margin-left: 13px;
    
}


